@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-scale: 1;
}

html {
  font-size: calc(16px * var(--font-scale));
}

.font-scale-1 { --font-scale: 1; }
.font-scale-2 { --font-scale: 1.15; }
.font-scale-3 { --font-scale: 1.3; }
